<div class="fillbg"><img src="{{ 'asset/images/bg.jpg'|path }}"></div>
<div class="container-login">
  {{ @form->open() }}
    <h3 class="page-title">Login</h3>
    <check if="{{ @error }}">
      <div class="alert alert-danger">
        {{ @error }}
      </div>
    </check>
    <div class="form-group">
      {{ @form->label('username') }}
      {{ @form->text('username', ['autofocus']) }}
    </div>
    <div class="form-group">
      {{ @form->label('password') }}
      {{ @form->password('password', ['value'=>null]) }}
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  {{ @form->close() }}
</div>
