<expr expr="{{ setup_prefix('title', @title) }}" />
<expr expr="{{ breadcrumb_current(@title) }}" />
<expr expr="{{ menu_set('user') }}" />

<h3 class="page-header">Form User</h3>

<include href="tools/alert.html" />

<expr expr="{{ error_set(@violations) }}" />
<form method="POST" class="form-horizontal">
  <div class="form-group {{ error_has('Name') }}">
    <label class="control-label required col-md-2" for="inputName">Nama</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="inputName" name="Name" value="{{ post_value('Name', @user.Name) }}" required>
      {{ error_get('Name') }}
    </div>
  </div>
  <div class="form-group {{ error_has('Username') }}"">
    <label class="control-label required col-md-2" for="inputUsername">Username</label>
    <div class="col-md-3">
      <input type="text" class="form-control" id="inputUsername" name="Username" value="{{ post_value('Username', @user.Username) }}" required>
      {{ error_get('Username') }}
    </div>
  </div>
  <div class="form-group {{ error_has('Email') }}"">
    <label class="control-label required col-md-2" for="inputUsername">Email</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="inputUsername" name="Email" value="{{ post_value('Email', @user.Email) }}" required>
      {{ error_get('Email') }}
    </div>
  </div>
  <div class="form-group {{ error_has('NewPassword') }}"">
    <label class="control-label col-md-2" for="inputNewPassword">Password Baru</label>
    <div class="col-md-3">
      <input type="password" class="form-control" id="inputNewPassword" name="NewPassword">
      {{ error_get('NewPassword') }}
    </div>
  </div>
  <div class="form-group {{ error_has('UserRoles') }}"">
    <label class="control-label required col-md-2" for="inputRoles">Roles</label>
    <div class="col-md-3">
      <set userRoles="{{ post_value('UserRoles', @user.UserRoles?:[]) }}" />
      <repeat group="{{ @user->getAvailableRoles() }}" value="{{ @item }}" key="{{ @label }}">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="inputRoles" name="UserRoles[]" value="{{ @item }}" {{ in_array(@item, @userRoles) ? 'checked' : '' }}> {{ @label }}
          </label>
        </div>
      </repeat>
      {{ error_get('UserRoles') }}
    </div>
  </div>
  <div class="form-group {{ error_has('Blocked') }}"">
    <label class="control-label required col-md-2" for="inputBlocked">Blok</label>
    <div class="col-md-3">
      <set blocked="{{ post_value('Blocked', @user.Blocked) }}" />
      <repeat group="{{ @blockOptions }}" value="{{ @item }}" key="{{ @label }}">
        <div class="radio">
          <label>
            <input type="radio" id="inputBlocked" name="Blocked" value="{{ @item }}" {{ @blocked == @item ? 'checked' : '' }}> {{ @label }}
          </label>
        </div>
      </repeat>
      {{ error_get('Blocked') }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <button type="submit" class="btn btn-primary">Simpan</button>
      <a href="{{ route('user') }}" class="btn btn-default">Batal</a>
    </div>
  </div>
</form>
