<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{ @app.description }}">
        <meta name="author" content="{{ @app.author | raw }}">
        <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset }}" />
        <title>{{ @pageTitle?:@app.name }}</title>
        <link rel="stylesheet" href="{{ 'assets/bootstrap-3.3.2/css/bootstrap.min.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/bootstrap-datetimepicker-4.17.37/build/css/bootstrap-datetimepicker.min.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/bootstrap-switch-3.3.2/dist/css/bootstrap3/bootstrap-switch.min.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/bootstrap-select-1.10.0/dist/css/bootstrap-select.min.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/css/animate.min.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/google-roboto/google-roboto.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/font-awesome-4.5.0/css/font-awesome.min.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/pe-icon-7-stroke-1.2.0/css/helper.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/pe-icon-7-stroke-1.2.0/css/pe-icon-7-stroke.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/css/light-bootstrap-dashboard.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/css/style.css' | asset }}">
        <script src="{{ 'assets/js/jquery-1.11.1.min.js' | asset }}"></script>
        <script src="{{ 'assets/bootstrap-3.3.2/js/bootstrap.min.js' | asset }}"></script>
        <script src="{{ 'assets/moment-2.11.2/min/moment-with-locales.min.js' | asset }}"></script>
        <script src="{{ 'assets/bootstrap-datetimepicker-4.17.37/build/js/bootstrap-datetimepicker.min.js' | asset }}"></script>
        <script src="{{ 'assets/bootstrap-switch-3.3.2/dist/js/bootstrap-switch.min.js' | asset }}"></script>
        <script src="{{ 'assets/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js' | asset }}"></script>
        <script src="{{ 'assets/js/bootstrap-notify.js' | asset }}"></script>
        <script src="{{ 'assets/js/bootbox.min.js' | asset }}"></script>
        <script src="{{ 'assets/js/chartist.min.js' | asset }}"></script>
        <script src="{{ 'assets/js/light-bootstrap-dashboard.js' | asset }}"></script>
        <script src="{{ 'assets/js/script.js' | asset }}"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar" data-color="black" data-image="{{ 'assets/images/app-identity.jpg' | asset }}">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="{{ 'homepage' | url }}" class="simple-text">
                            {{ @app.alias }}
                        </a>
                    </div>
                    <ul class="nav">
                        <set active="{{ @menu.active?:@ALIAS }}" />
                        <repeat group="{{ @menu.items }}" value="{{ @m }}" key="{{ @as }}">
                            <check if="{{ !isset(@m.hide) || !@m.hide }}">
                                <li {{ @active===@as ?'class="active"':null }}>
                                    <a href="{{ @as | url }}">
                                        <i class="pe-7s-{{ @m.icon }}"></i>
                                        <p>{{ @m.label }}</p>
                                    </a>
                                </li>
                            </check>
                        </repeat>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ 'homepage' | url }}">{{ @app.name }}</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li {{ @ALIAS === 'userProfile'?'class="active"':'' }}>
                                    <a href="{{ 'userProfile' | url }}">
                                        <i class="pe-7s-user"></i>
                                        {{ @account }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ 'logout' | url }}">
                                        <i class="pe-7s-power"></i>
                                        {{ @logout }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                {{ @breadcrumb->render() }}

                <div class="content">
                    <include href="{{ @content }}" />
                </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <p class="copyright pull-right">
                            &copy; 2016 {{ @app.name }} - {{ @app.description }}
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>