<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="{{ @app.description }}">
		<meta name="author" content="{{ @app.author | raw }}">
        <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset }}" />
		<title>{{ @login }}</title>
		<link rel="stylesheet" href="{{ 'assets/bootstrap-3.3.2/css/bootstrap.min.css' | asset }}">
		<link rel="stylesheet" href="{{ 'assets/css/animate.min.css' | asset }}">
		<link rel="stylesheet" href="{{ 'assets/google-roboto/google-roboto.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/pe-icon-7-stroke-1.2.0/css/helper.css' | asset }}">
        <link rel="stylesheet" href="{{ 'assets/pe-icon-7-stroke-1.2.0/css/pe-icon-7-stroke.css' | asset }}">
		<link rel="stylesheet" href="{{ 'assets/css/style.css' | asset }}">
		<link rel="stylesheet" href="{{ 'assets/css/login.css' | asset }}">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="login">
			<h1 class="login-heading"><strong>{{ @welcome }}.</strong> {{ @please_login }}.</h1>
			<form method="post">
				<check if="{{ @error = Nutrition::flash('error') }}">
					<div class="trigger-notif" data-type="warning" data-icon="attention">{{ $$error }}!</div>
				</check>
				<input type="text" name="username" placeholder="Username" autofocus required class="input-txt" value="{{ Nutrition::flash('username') }}">
				<input type="password" name="password" placeholder="Password" required class="input-txt">
				<div class="login-footer">
					<a href="#" class="lnk">
						<span class="icon icon-min">ಠ╭╮ಠ</span>
						{{ @forgot_password }}
					</a>
					<button type="submit" class="button button-right">{{ @signin }}</button>
				</div>
			</form>
		</div>
		<script src="{{ 'assets/js/jquery-1.11.1.min.js' | asset }}"></script>
		<script src="{{ 'assets/bootstrap-3.3.2/js/bootstrap.min.js' | asset }}"></script>
		<script src="{{ 'assets/js/bootstrap-notify.js' | asset }}"></script>
		<script src="{{ 'assets/js/script.js' | asset }}"></script>
	</body>
</html>