<expr expr="{{ setup_prefix('title', 'Backup') }}" />
<expr expr="{{ breadcrumb_current('Backup') }}" />
<expr expr="{{ menu_set('db') }}" />

<h3 class="page-header">Backup Database</h3>

<div class="alert alert-info">
  <strong>Info!</strong><br>
  <p>Backup database akan dilakukan sesuai jadwal</p>
</div>

<include href="tools/alert.html" />

<hr>
<form method="POST" class="form-horizontal">
  <div class="form-group {{ decide(@violations.Confirm, 'has-error') }}"">
    <label class="control-label required col-md-2" for="inputConfirm"></label>
    <div class="col-md-3">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="inputConfirm" name="Confirm" value="true" required> Konfirmasi backup data
        </label>
      </div>
      <check if="{{ @violations.Confirm }}"><span class="help-block">{{ implode('<br>', @violations.Confirm) }}</span></check>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <button type="submit" class="btn btn-primary">Backup</button>
      <a href="{{ route('db') }}" class="btn btn-default">Batal</a>
    </div>
  </div>
</form>
