<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>{{ @app.pageTitle|title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico'|path }}">
    <link rel="stylesheet" type="text/css" href="{{ 'asset/css/font-awesome.min.css'|path }}">
    <link rel="stylesheet" type="text/css" href="{{ 'asset/css/bootstrap.css'|path }}">
    <link rel="stylesheet" type="text/css" href="{{ 'asset/css/bootstrap-datepicker3.min.css'|path }}">
    <link rel="stylesheet" type="text/css" href="{{ 'asset/css/daterangepicker.css'|path }}">
    <link rel="stylesheet" type="text/css" href="{{ 'asset/css/style.css'|path }}">
    <script src="{{ 'asset/js/moment.min.js'|path }}"></script>
    <script src="{{ 'asset/js/jquery.min.js'|path }}"></script>
    <script src="{{ 'asset/js/bootstrap.min.js'|path }}"></script>
    <script src="{{ 'asset/js/bootstrap-datepicker.min.js'|path }}"></script>
    <script src="{{ 'asset/js/bootstrap-datepicker.id.min.js'|path }}"></script>
    <script src="{{ 'asset/js/daterangepicker.js'|path }}"></script>
    <script src="{{ 'asset/js/notify.min.js'|path }}"></script>
    <script src="{{ 'asset/js/bootbox.min.js'|path }}"></script>
    <script src="{{ 'asset/js/autonumeric.js'|path }}"></script>
    <script src="{{ 'asset/js/script.js'|path }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
