/**
 * @author Eko Kurniawan <fkurniawan@outlook.com>
 */

.trigger-notif {
	display: none;
}

/**
 * panel control
 */
.panel-control {
    border: none;
    margin-top: 30px;
}

/**
 * page control
 */
.page-control {
    padding: 0 20px;
}
.page-control .page-control-info {
    margin-right: 10px;
    color: #999;
}

/** detail
 */
table.detail td:first-child {
	width: 200px;
}

.add-space {
	margin: 0 5px;
}

/** @override default
 */
.bootstrap-datetimepicker-widget.dropdown-menu {
	opacity: 1;
	visibility: visible;
}
.navbar .navbar-nav > li.active > a {
	background: #1DC7EA;
	color: white;
}

.breadcrumb {
	margin: 0 0 10px;
}

.main-panel > .content {
	padding: 0 5px;
}

.input-sm {
	padding-top: 1px;
	padding-bottom: 1px;
}