<div class="header">
    <h4 class="title">{{ @permission_list }}</h4>
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>No</th>
            <th>{{ @model2->getLabel('permission_name') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <check if="{{ @can.permission.insert }}">
            <tr>
                <td colspan="2"></td>
                <td>
                    <form method="post" class="form-inline">
                        <div class="form-group">
                            <label for="permissions[]" class="sr-only">{{ @model2->getLabel('permission_name') }}</label>
                            <select class="use-selectpicker" name="permissions[]" data-style="btn-fill btn-default btn-sm" data-actions-box="true" data-selected-text-format="count" multiple>
                                <repeat group="{{ @freePermissions }}" value="{{ @item }}">
                                    <option value="{{ @item.permission_id }}">{{ @item.permission_name }}</option>
                                </repeat>
                            </select>
                        </div>
                        <button class="btn btn-fill btn-sm btn-primary" id="add-permission">{{ @add }}</button>
                    </form>
                </td>
            </tr>
        </check>
        <repeat group="{{ @permissions }}" value="{{ @item }}" counter="{{ @no }}">
            <tr>
                <td>{{ @no }}</td>
                <td>{{ @item.permission_name }}</td>
                <td>
                    <check if="{{ @can.permission.delete }}">
                        <a href="{{ 'rbacRoleDeletePermission', 'permission='.@item.permission_id | url }}" class="confirm-delete btn btn-fill btn-xs btn-danger"><i class="fa fa-remove"></i> {{ @delete_entry }}</a>
                    </check>
                </td>
            </tr>
        </repeat>
    </tbody>
</table>
<check if="{{ @error }}">
    <div class="trigger-notif" data-type="warning" data-icon="attention">{{ @error }}</div>
</check>