<div class="login-container">
  <h4 class="page-header">Please login</h4>

  <include href="tools/alert.html" />

  <form method="post">
    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="text" class="form-control" id="inputUsername" value="{{ @POST.username }}" name="username">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password">
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
