<expr expr="{{ setup_prefix('title', 'Delete') }}" />
<expr expr="{{ breadcrumb_current('Delete') }}" />
<expr expr="{{ menu_set('post') }}" />

<h3 class="page-header">Hapus Post</h3>

<include href="tools/alert_delete.html" />

<table class="table table-bordered table-detail">
  <tbody>
    <tr>
      <td>Title</td>
      <td>{{ @post.Title }}</td>
    </tr>
    <tr>
      <td>Type</td>
      <td>{{ @post->typeLabel() }}</td>
    </tr>
  </tbody>
</table>

<hr>
<expr expr="{{ error_set(@violations) }}" />
<form method="POST" class="form-horizontal">
  <div class="form-group {{ error_has('Confirm') }}"">
    <label class="control-label required col-md-2" for="inputConfirm"></label>
    <div class="col-md-3">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="inputConfirm" name="Confirm" value="true" required> Konfirmasi hapus data
        </label>
      </div>
      {{ error_get('Confirm') }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <button type="submit" class="btn btn-danger">Konfirmasi</button>
      <a href="{{ route('post') }}" class="btn btn-default">Batal</a>
    </div>
  </div>
</form>
