<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{ @permissions }}</h4>
                    <p class="category">Input</p>
                </div>

                <div class="content">
                    <form method="post" class="form-horizontal">
                        <check if="{{ @error = Nutrition::flash('error') }}">
                            <div class="hide trigger-notif" data-type="warning" data-icon="attention">{{ @error }}</div>
                        </check>

                        <div class="form-group">
                            <label for="permission_name" class="col-md-2">{{ @model->getLabel('permission_name') }}</label>
                            <div class="col-md-10"><input type="text" name="permission_name" value="{{ @model->permission_name }}" placeholder="{{ @model->getLabel('permission_name') | lower }}" class="form-control" required></div>
                        </div>
                        <div class="form-group">
                            <label for="permission_description" class="col-md-2">{{@model->getLabel('permission_description')}}</label>
                            <div class="col-md-10"><input type="text" name="permission_description" value="{{ @model->permission_description }}" placeholder="{{ @model->getLabel('permission_description') | lower }}" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label for="permission_homepage" class="col-md-2">{{ @model->getLabel('permission_homepage') }}</label>
                            <div class="col-md-10"><input type="text" name="permission_homepage" value="{{ @model->permission_homepage }}" placeholder="{{ @model->getLabel('permission_homepage') | lower }}" class="form-control"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="submit" class="btn btn-primary btn-fill">{{ @save }}</button>
                                <a href="{{ 'rbacPermission' | url }}" class="btn btn-default">{{ @cancel }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>