<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{ @permissions }}</h4>

                    <div class="panel panel-default panel-control">
                        <div class="panel-body">
                            <check if="{{ @can.insert }}">
                                <a href="{{ 'rbacPermissionInput', 'permission=new' | url }}" class="btn btn-primary btn-fill pull-right">
                                    <i class="pe-7s-cloud-plus"></i>
                                    {{ @new_entry }}
                                </a>
                            </check>

                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="keyword" id="" value="{{ @GET.keyword }}" placeholder="permission name..." class="form-control">
                                </div>
                                <button type="submit" class="btn btn-default btn-fill"><i class="pe-7s-search"> {{ @search }}</i></button>
                            </form>
                        </div>
                    </div>
                </div>
                {{ Nutrition::pagerPaginate(@page) }}
                <div class="content table-responsive table-full-width">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>{{ @model->getLabel('permission_name') }}</th>
                                <th>{{ @model->getLabel('permission_description') }}</th>
                                <th>{{ @model->getLabel('permission_homepage') }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <set no="{{ Nutrition::paginationStartNumber(@page) }}" />
                            <repeat group="{{ @page.subset }}" value="{{ @item }}">
                                <tr>
                                    <td>{{ @no++ }}</td>
                                    <td>{{ @item.permission_name }}</td>
                                    <td>{{ @item.permission_description }}</td>
                                    <td>{{ @item.permission_homepage }}</td>
                                    <td>
                                        <check if="{{ @can.update }}">
                                            <a href="{{ 'rbacPermissionInput', 'permission='.@item.permission_id | url }}" class="btn btn-fill btn-xs btn-warning"><i class="fa fa-pencil"></i> {{ @edit_entry }}</a>
                                        </check>
                                        <check if="{{ @can.delete }}">
                                            <a href="{{ 'rbacPermissionDelete', 'permission='.@item.permission_id | url }}" class="confirm-delete btn btn-fill btn-xs btn-danger"><i class="fa fa-remove"></i> {{ @delete_entry }}</a>
                                        </check>
                                    </td>
                                </tr>
                            </repeat>
                            <check if="{{ !@page.subset }}">
                                <tr>
                                    <td colspan="5">{{ @no_entry }}</td>
                                </tr>
                            </check>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>