<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{ @users }}</h4>
                    <p class="category">{{ @view_entry }}</p>

                    <div class="panel panel-default panel-control">
                        <div class="panel-body">
                            <a href="{{ 'rbacUser' | url }}" class="btn btn-success btn-fill pull-right">
                                {{ @back }}
                            </a>
                            <check if="{{ @can.update }}">
                                <a href="{{ 'rbacUserInput' | url }}" class="btn btn-warning btn-fill pull-right add-space">
                                    <i class="fa fa-pencil"></i>
                                    {{ @edit_entry }}
                                </a>
                            </check>
                        </div>
                    </div>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table detail">
                        <tbody>
                            <tr>
                                <td>{{ @model->getLabel('fullname') }}</td>
                                <td>{{ @model.fullname }}</td>
                            </tr>
                            <tr>
                                <td>{{ @model->getLabel('birthplace') }}</td>
                                <td>{{ @model.birthplace }}</td>
                            </tr>
                            <tr>
                                <td>{{ @model->getLabel('birthdate') }}</td>
                                <td>{{ @model.birthdate }}</td>
                            </tr>
                            <tr>
                                <td>{{ @model->getLabel('gender') }}</td>
                                <td>{{ @model.gender }}</td>
                            </tr>
                            <tr>
                                <td>{{ @model->getLabel('active') }}</td>
                                <td>{{ @model.active?'Active':'Not Active' }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>{{ @model->getLabel('username') }}</td>
                                <td>{{ @model.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ @model->getLabel('date_created') }}</td>
                                <td>{{ @model.date_created }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <include href="rbac/users/roles.htm" if="{{ @can.role.read }}" />
                </div>
            </div>
        </div>
    </div>    
</div>