<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{ @users }}</h4>
                    <p class="category">Input</p>
                </div>

                <div class="content">
                    <form method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="fullname" class="col-md-3">{{ @model2->getLabel('username') }}</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" name="fullname" value="{{ @model2->fullname }}" placeholder="{{ @model2->getLabel('username') | lower }}" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthplace" class="col-md-3">{{ @model2->getLabel('birthplace').', '.@model2->getLabel('birthdate') }}</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="birthplace" value="{{ @model2->birthplace }}" placeholder="{{ @model2->getLabel('birtplace') | lower }}">
                            </div>
                            <div class="col-md-2">
                                <div class='input-group use-datepicker'>
                                    <input class="form-control" type="text" name="birthdate" value="{{ @model2->birthdate }}" placeholder="{{ @model2->getLabel('birthdate') | lower }}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="col-md-3">{{ @model2->getLabel('gender') }}</label>
                            <div class="col-md-9">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="Male" {{ @model2->gender==='Male'?'checked':'' }}> Laki-laki
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="Female" {{ @model2->gender==='Female'?'checked':'' }}> Perempuan
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="active" class="col-md-3">{{ @model2->getLabel('active') }}</label>
                            <div class="col-md-9">
                                <label class="checkbox-inline">
                                    <input class="use-switch" type="checkbox" name="active" value="1" data-on-text="Active" data-off-text="Not Active" style="margin-left: 0" {{ @model2->active?'checked':'' }}>
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="username" class="col-md-3">Username</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" name="username" value="{{ @model->username }}" placeholder="username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3">Password</label>
                            <div class="col-md-9">
                                <input class="form-control" type="password" name="password" placeholder="{{ @leave_empty | lower }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-primary btn-fill">{{ @save }}</button>
                                <a href="{{ 'rbacUser' | url }}" class="btn btn-default btn-fill">{{ @cancel }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>