<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{ @user_management | format }}</h4>
                </div>

                <div class="content">
                    <ul>
                        <repeat group="{{ @links }}" value="{{ @label }}" key="{{ @route }}">
                            <li><a href="{{ @route | url }}">{{ @label }}</a></li>
                        </repeat>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>